*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right,#e7f701, #ffd900, #ff9100, #ff7300);
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}