*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right,#f8df00, #fffb00, #ff9900, #fa7a02);
}
.cabecalho{
    background-color: rgb(255, 187, 0);
    padding: 30px;
    text-align: center;
    display: flex;

}
.video{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}
.video iframe{
    width: 100%;
    height: 450px;
    border: none;
}

